extends layout

block content
  if (typeof(user) != 'undefined')
    h2 Welcome, #{user.username}!

  else
    .hero-unit
      h1 What are you good at?
      form
        input(type="text", name="tags", data-provide="tag")
      
    .row-fluid(style="margin-top: 3em; margin-bottom: 3em;")

      .span4
        h3 Skills You Have.
        p Super awesome pitch belongs here.

      .span4
        h3 Skills You Don't Have.
        p What else can sell your app?

      